/* .notes_heading {
  background-color: red;
  color: #5f6368;
  letter-spacing: 0.07272727em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  margin: 32px 32px 8px;
  position: absolute;
}

.note_title {
  background-color: red;
} */
